extends layout
block content
  link(rel="stylesheet",href='stylesheets/TodoList.css')
  div#O_Cont
    div#I_Cont
      h1 #{title}
      form#Log_In_Form
        div
          label Username:
          div
            img.check(src="images/x.png")
            input(type = "text" value=""  autocomplete = "off" beenclicked = "false" name = "username")
        div
          label Password:
          div
            img.check(src="images/x.png")
            input(type = "password"  name="password" required)
          div#CreateLogin
            label Re-enter password:
            div
              img.check(src="images/x.png")
              input(type = "password"  name="password"  required)
        div#submit(onclick = "Submit(this)" state = "0") Submit
        p#createPara ------(: No Profile : No Worries :)------
        div#newProfile(onclick = "createUser(this)" state ="false") Create
        
    div#taskListContainer
       
  script(src="javascripts/anime.min.js")
  script(src="javascripts/validator.js")
  script(src="javascripts/TodoAnimations.js")
  script(src="javascripts/Todo.js")
