extends layout
block content
  link(rel="stylesheet",href='stylesheets/TodoList.css')
  div#O_Cont
    div#I_Cont
      h1 #{title}
      form#Log_In_Form
        div
          label Username:
          input(type = "text" value=""  autocomplete = "off" beenclicked = "false" name = "username")
        div
          label Password:
          input(type = "password"  name="password" required)
          div#CreateLogin
            label Re-enter password:
            input(type = "password"  name="password"  required)
        div#submit(onclick = "createUser()") Submit
        p ------(: No Profile : No Worries :)------
        div#newProfile(onclick = "submit(this)" state =2) Create
  script(src="javascripts/anime.min.js")
  script(src="javascripts/validator.js")
  script(src="javascripts/TodoAnimations.js")
  script(src="javascripts/Todo.js")
