*{
 margin:0px;
 padding:0px;
 box-sizing: border-box;
}
body{
  /* border:2px solid blue; */
  height:800px;
  width:100vw;
}
#O_Cont{
  border:2px solid black;
  /* height:70%; */
  width:70%;
  margin: 40px auto;
  padding-bottom:20px;
}

#O_Cont #taskListContainer{
  /* border:2px solid purple; */
  display:none;
  width:100%;
}
.TLcontainer{
  background-color:#0CE9FF;
  box-shadow: 5px 5px 5px;
  height:100%;
  margin-top:20px;
  width:100%;
}
#TLcontainer{
  display:none;
}
.colorBlock{
  background-color:#9B0CFF;
  display:inline-block;
  height:140px;
  vertical-align: top;
  width:5%;
}
#TLwrapper{
  position:relative;
}

.TLtemplate{
  /* border:2px solid purple; */
  display:inline-block;
  height: 140px;
  position:relative;
  vertical-align: top;
  width:95%;
}
.TLhead{
}
.TLhead{
  padding-top:25px;
}
.del{
  cursor: pointer;
  height:40px;
  position:absolute;
  top:10px;
  right:10px;
}
.TLfooter{
  bottom:0px;
  display:inline-block;
  left:0px;
  list-style-type: none;
  position:absolute;
  width:100%;
}
.TLfooter li{
  display:inline-block;
  font-size:20px;
  margin-left:10px;
  padding-left:5px;
  padding-right:10px;
  width:30%;
}
.TLfooter li:first-child{
  float:left;
  margin-left:0px;
}
.TLfooter li:last-child{
  float:right;
}
.TLfooter .upcomingTasks{
  color:red;
}
#I_Cont h1{
  /* height:40px; */
  display:inline-block;
   margin:20px auto;
   width:80%;
}
#I_Cont{
  /* background-color: #ff0080; */
  /* border:2px solid red; */
  height:90%;
  margin:20px auto;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
  width:50%;

}

#Log_In_Form{
  border:2px solid red;
  font-size:25px;
  margin:40px auto;
  padding: 30px 10px 20px 10px;
  text-align: center;
  vertical-align: middle;
  /* border:2px solid purple; */
}


#Log_In_Form label{
  /* border:2px solid black; */
  font-weight: bold;
  text-align: left !important;
}
#Log_In_Form div div img{
  /* border:2px solid red; */
  visibility: hidden;
  width:30px;
  /* margin-top:20px; */
}
#Log_In_Form div div div img{
  vertical-align: top;
  display: hidden;
  margin-top:20px; 
  height:30px;

}
#Log_In_Form input{
  /* border:2px solid red; */
  display:inline-block;
  font-size: 20px;
  height:40px;
  width:80%;
  margin:20px auto;
  margin-left:20px;
  vertical-align: middle;

}
#CreateLogin{
  display:none;
}
#submit{
  border:2px solid black;
  /* background-color:red; */
  color:black;
  cursor:pointer;
  /* display: inline-block; */
  font-size:25px;
  margin:20px auto;
  /* padding: 5px; */
  width:25%;
  transition: background-color 2s;

}
#submit:hover{
  /* background-color:black; */
}

#Log_In_Form p{
  /* border:2px solid purple; */
  font-size:15px;
  margin-top:5px;
}
#newProfile{
  border:2px solid black;
  cursor:pointer;
  font-size: 25px;
  margin:20px auto;
  width:25%;
}
