*{
 margin:0px;
 padding:0px;
 box-sizing: border-box;
}
body{
  /* border:2px solid blue; */
  height:800px;
  width:100vw;
}
#O_Cont{
  border:2px solid black;
  /* height:70%; */
  width:70%;
  margin: 40px auto;
  padding-bottom:20px;
}

#O_Cont #taskListContainer{
  border:2px solid purple;
  display:none;
  width:100%;
}

#I_Cont h1{
  /* height:40px; */
  display:inline-block;
   margin:20px auto;
   width:80%;
}
#I_Cont{
  /* background-color: #ff0080; */
  /* border:2px solid red; */
  border:2px solid rgb(19, 218, 201);
  height:90%;
  margin:20px auto;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
  width:50%;

}

#Log_In_Form{
  border:2px solid red;
  font-size:25px;
  margin:40px auto;
  padding: 30px 10px 20px 10px;
  text-align: center;
  vertical-align: middle;
  /* border:2px solid purple; */
}


#Log_In_Form label{
  /* border:2px solid black; */
  font-weight: bold;
  text-align: left !important;
}
#Log_In_Form div div img{
  /* border:2px solid red; */
  visibility: hidden;
  width:30px;
  /* margin-top:20px; */
}
#Log_In_Form div div div img{
  vertical-align: top;
  display: hidden;
  margin-top:20px; 
  height:30px;

}
#Log_In_Form input{
  /* border:2px solid red; */
  display:inline-block;
  font-size: 20px;
  height:40px;
  width:80%;
  margin:20px auto;
  margin-left:20px;
  vertical-align: middle;

}
#CreateLogin{
  display:none;
}
#submit{
  border:2px solid black;
  /* background-color:red; */
  color:black;
  cursor:pointer;
  /* display: inline-block; */
  font-size:25px;
  margin:20px auto;
  /* padding: 5px; */
  width:25%;
  transition: background-color 2s;

}
#submit:hover{
  /* background-color:black; */
}

#Log_In_Form p{
  /* border:2px solid purple; */
  font-size:15px;
  margin-top:5px;
}
#newProfile{
  border:2px solid black;
  cursor:pointer;
  font-size: 25px;
  margin:20px auto;
  width:25%;
}
