*{
 margin:0px;
 padding:0px;
 box-sizing: border-box;
}
body{
  background-color: #0CE9FF;
  height:100vh;
  /* position:absolute; */
  /* overflow:hidden; */
  width:100vw;
}
#O_Cont{
  /* border:2px solid black; */
  /* height:70%; */
  width:70%;
  margin: 60px auto;
  padding-bottom:20px;
}

#O_Cont #taskListContainer{
  

  /* border:2px solid purple; */
  display:none;
  width:100%;
}
.TLcontainer{
  background-color:#0CE9FF;
  /* border:2px solid black; */
  box-shadow: 5px 5px 5px;
  /* height: 120px; */
  margin-top:20px;
  transition: all 1s ease-in-out;
  width:90%;
}

#TLcontainer{
  display:none;
}
.colorBlock{
  background-color:rgba(154, 12, 255, 0.329);
  /* border:2px solid black; */
  display:inline-block;
  height:80px;
  vertical-align: top;
  width:5%;
}
#TLwrapper{
  background-color:white;
  box-shadow: 0px 5px 8px 9px rgba(0,0,0,0.75);
  display:none;
  padding:30px 30px 50px 30px;
  position:relative;
  height:90vh;
  overflow-x:hidden;
  top:-60px; /*negative positioning... BAD...change when todl is up and running(learning OP)::::Padding?*/
}

.TLtemplate{
  /* border:2px solid purple; */
  display:inline-block;
  /* height: 140px; */
  position:relative;
  vertical-align: top;
  width:95%;
}
.taskSec{
  border:2px solid red;
  height:60vh;
  width:100%;
}
.taskHead{
  width:100%;
}
.taskHead h1{
  height:40px;
  width:100%;
}
.taskHead footer{
  border:2px solid black;
  width:100%;
}
.taskHead footer li{
  border-top:1px solid black; 
  display: inline-block;
  padding-top:10px;
  padding-bottom:10px;
  width:50%;
}

.taskContent{
  border:2px solid green;
  height:70%;
  margin:40px auto;
  width:70%;
}
.TLhead{
  border-bottom:1px solid black;
  cursor: pointer;
  padding-top:10px;
}
.del{
  border:2px solid black;
  cursor: pointer;
  height:40px;
  position:absolute;
  top:10px;
  right:10px;
  z-index:100;
}
.TaskContainer{
  /* border:2px solid black; */
  /* background-color: #0CE9FF */
  height:0px;
  position:relative;
  transition: height 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  width:100%;
  z-index:100;
}
.TLfooter{
  border-top:1px solid black; 
  cursor: none;
  /* bottom:0px; */
  display:inline-block;
  left:0px;
  list-style-type: none;
  /* position:absolute; */
  width:100%;
}
.TLfooter li{
  display:inline-block;
  font-size:20px;
  margin-left:10px;
  padding-left:5px;
  padding-right:10px;
  padding-top:10px;
  width:30%;
}
.TLfooter li:first-child{
  float:left;
  margin-left:0px;
}
.TLfooter li:last-child{
  float:right;
}
.TLfooter .upcomingTasks{
  color:red;
}
#I_Cont h1{
  /* height:40px; */
  display:inline-block;
   margin:20px auto;
   width:80%;
}
#I_Cont{
  /* background-color: #ff0080; */
  /* border:2px solid red; */
  height:90%;
  margin:20px auto;
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
  width:50%;

}

#Log_In_Form{
  background-color:rgba(185, 97, 248, 0.781);
  /* border:2px solid red; */
  font-size:25px;
  margin:40px auto;
  padding: 30px 10px 20px 10px;
  text-align: center;
  vertical-align: middle;
  /* border:2px solid purple; */
}


#Log_In_Form label{
  /* border:2px solid black; */
  font-weight: bold;
  text-align: left !important;
}
#Log_In_Form div div img{
  /* border:2px solid red; */
  visibility: hidden;
  width:30px;
  /* margin-top:20px; */
}
#Log_In_Form div div div img{
  vertical-align: top;
  display: hidden;
  margin-top:20px; 
  height:30px;

}
#Log_In_Form input{
  /* border:2px solid red; */
  display:inline-block;
  font-size: 20px;
  height:40px;
  width:80%;
  margin:20px auto;
  margin-left:20px;
  vertical-align: middle;

}
#CreateLogin{
  display:none;
}
#submit{
  /* border:2px solid black; */
  background-color: #0CE9FF;
  color:black;
  cursor:pointer;
  /* display: inline-block; */
  font-size:25px;
  margin:20px auto;
  /* padding: 5px; */
  width:25%;
  transition: background-color 2s;

}
#submit:hover{
  /* background-color:black; */
}

#Log_In_Form p{
  /* border:2px solid purple; */
  font-size:15px;
  margin-top:5px;
}
#newProfile{
  /* border:2px solid black; */
  background-color: #0CE9FF;
  cursor:pointer;
  font-size: 25px;
  margin:20px auto;
  width:25%;
}
